<center><h1>We Want To Hear From You!</h1></center>
<p>The City of London always welcomes feedback and have a number of ways for you
to stay in touch with local government.</p>

<ul id="contactoptions">
  <li>Follow the London's Twitter Page: <%= link_to "@LondonComms", 'http://twitter.com/#!/LondonComms' %></li>
  <li>Like us on London's Facebook Page: <%= link_to "LondonCanada", 'http://www.facebook.com/LondonCanada' %></li>
  <li>London Ontario's Website <%= link_to "London.ca", 'http://www.london.ca' %></li>
    <li>London Ontario's 2012 Budget Website <%= link_to "London 2012 Budget", 'http://www.london.ca/d.aspx?s=/budget/budget_2012/budget12.htm'%></li>
  <li>Any questions about London's budget can be directed to <%= mail_to "budget@london.ca", "budget@london.ca", :subject => "London Budget 2012 Question" %> </li>
</ul>
<br />
<br />
<p></p>
<h3>Have Your Say in Person!</h3>
<p>
<b>Public Engagement </b>
</p>
<p>
<b>Date:</b> Saturday January 14, 2012
</p>
<p>
<b>Time:</b> 10:00am - 1:00pm
</p>
<p>
<b>Locations:</b>
Argyle, Cherryhill, Masonville, Westmount and White Oaks malls
</p>
