<%= render :partial => 'chart', :locals => {:type => 'expenditure', :whatdiv => 'expense_chart', :title => Budget.find(@category.budget_id).year.to_s + " " + BudgetType.find(Budget.find(@category.budget_id).budget_types_id).name + " - Expenditure Chart" , :points => @category.children }-%>
<%= render :partial => 'chart', :locals => {:type => 'revenue', :whatdiv => 'revenue_chart', :title => Budget.find(@category.budget_id).year.to_s + " " + BudgetType.find(Budget.find(@category.budget_id).budget_types_id).name +  " - Revenue Chart", :points => @category.children }-%>
<%= render :partial => 'chart', :locals => {:type => 'total', :whatdiv => 'total_chart', :title => Budget.find(@category.budget_id).year.to_s + " " + BudgetType.find(Budget.find(@category.budget_id).budget_types_id).name +  " - Totals Chart", :points => @category }-%>

<div class="chart" id="expense_chart"></div>
<div class="chart" id="revenue_chart"></div>
<div class="chart" id="total_chart"> </div>

    <a href="#" id="expense">Show Expense Chart</a>|
    <a href="#" id="revenue">Show Revenue Chart</a>|
    <a href="#" id="total">Show Category Totals Chart</a>


<table id="budget_items">
  <tr>
    <th>Budget Category</th>
    <th>Expenditure</th>
    <th>Revenue</th>
    <th>Total Cost</th>
  </tr>
    
  <% for item in @category.children.sort_by{|e| -e[:expenditure]} do -%>

    <tr>
    <% if item.has_children?  %>
      <td class="budget_item_name"> <%= link_to "#{item.sanitize_name}", item %></td>
      <td class="budget_item_expense"><%= link_to "#{number_to_currency(item.expenditure, :strip_insignificant_zeros => true)}", item %> </td>
      <td class="budget_item_revenue"><%= link_to "#{number_to_currency(item.revenue, :strip_insignificant_zeros => true)}", item %></td>
      <td class="budget_item_difference"><%= link_to "#{number_to_currency(item.expenditure+item.revenue, :strip_insignificant_zeros => true)}", item %></td>
    <% else %>
      <td class="budget_item_name"> <%= item.sanitize_name %> </td>
      <td class="budget_item_expense"><%= number_to_currency(item.expenditure, :strip_insignificant_zeros => true) %> </td>
      <td class="budget_item_revenue"><%= number_to_currency(item.revenue, :strip_insignificant_zeros => true) %></td>
      <td class="budget_item_difference"><%= number_to_currency(item.expenditure+item.revenue, :strip_insignificant_zeros => true) %></td>
    <% end %>
    </tr>

  <% end -%>
</table>
<div style=margin-top:15px;margin-left:200px;>

<%= link_to "Back to Visualizing Databases Home", budget_index_path %>

</div>

