<div id="new_budget">

  <%= form_for @budget, :multipart=>true, :url => {:controller => :budget,  :action => :create} do |f| -%>
    <p>
    <%=  select("budget", "budget_type", BudgetType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => false}) %>
    </p>
    <p>
    <%= f.label :year %>
    <%= select_year(2012, :start_year => 2006, :end_year => 2015, :field_name => 'year', :prefix => 'budget') %>
    </p>
    <%= f.file_field 'upload' %>
    <%= f.submit %>
  <% end -%>
  
</div>

