<!DOCTYPE html>
<html>
<head>
  <title>London Budget 2012</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <% if admin_signed_in? %>
    
  <div id="adminsession">
    You are logged in as an ADMINISTRATOR! - <%= link_to "CHECK ADDS & CUTS SUMMARY", 'feedbacks#index' %> - <%= link_to "Log Out", destroy_admin_session_path, :method => :delete  %>
  </div>

  <% end -%>
  <div id="main">
    <div id="wrapper">
     <%= render :partial => "header" %>
      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
