<!DOCTYPE html>
<html>
<head>
  <title>Londonbudgetapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "highcharts" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="main">
    <div id="wrapper">
     <%= render :partial => "header" %>
      <div id="main-content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
